</form>
<form action="/createcourse" class="signup" method="POST" enctype="multipart/form-data">
  <div class="field">
    <input id="name" name="name" type="text" placeholder="Name" required>
  </div>
  <div class="field">
    <input id="email" name="description" type="text" placeholder="Email Address" required>
  </div>
  <div>
    <label for="image">Upload Image</label>
    <input type="file" id="image" 
           name="image" value="" required>
</div>
  <div class="field btn">
    <div class="btn-layer"></div>
    <input id="submit" type="submit" value="Signup">
  </div>
</form>