<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Form Wizard</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/stylevidpdf.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">

    <form role="form" enctype="multipart/form-data" action="/upload/<%= chaptre.id %>/<%= course %>" method="POST">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
      <div class="col-md-12">
                              <h1 class="ls  text-center">Ajouter document/vidéo</h1>
                      </div>       
  <div class="col-md-6">                 
    <div class="form-group">
      <label for="campaignName">Titre de partie:</label>
      <input type="text" class="form-control" id="campaignName" name="title">
    </div>
    <div class="col-md-12 p0">
      <div class="col-md-11 p0">
        <div class="form-group">
            <label for="addVideo">Add PDF:</label>
              <input class="btn btn-block btn-default" type="file"  name="image" accept="pdf/*">
                </div></div>
                   <div class="col-md-1 p0 m-top">
                     <button class="btn color-teal icon-size bg-trans blue-color" title="Click to upload video" > <span class="glyphicon glyphicon-upload"></span>
            </button>
              </div> 
             </div>
  
  
     </div>
         <div class="col-md-6">  
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" rows="5" cols="22" name="description"></textarea>
           </div></div>
                     
            <div class="col-md-12">
                <button type="submit" class="f-right btn btn-primary next-step">Continue</button>
               <button onclick="location.reload();" type="button" class="f-right m-10 btn btn-danger">Cancel</button>
                       <br/><br/><br/><br/> </div>
                    </div>
                   
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'>

</script><script  src="js/scriptvidpdf.js"></script>

</body>
</html>
